*{
    box-sizing: border-box;
}
:root{
    --first-color:#131720;
    --second-color: #151f30;
    --third-color:#2a3a54;
    --title-color:rgb(163, 181, 172);
    --white-color: #fff;
}
body{
    background-color: var(--first-color);
    font-family: sans-serif;
}
h3{
    color:var(--white-color);
}
.topnav {
    overflow: hidden;
    background-color: var(--first-color);
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.topnav .active {
    display: block;
    color: var(--white-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 1px solid var(--third-color);
    border-radius: 20px;
}
.topnav .active-title {
    color:var(--title-color);
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
}
.topnav .search-container {
    display: flex;
    align-items: center;
}
form {
    background-color: var(--second-color);
    width: 300px;
    height: 43px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
input {
    all: unset;
    font: 15px system-ui;
    color: var(--white-color);
    height: 100%;
    width: 100%;
    padding: 6px 9px;
}
.thumbnail {
    height: 300px;
    width: 250px;
    border-radius: 20px;
    cursor: pointer;
}
.column{
    float: left;
    width: 25%;
    padding: 10px 10px;
}
.card{
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: var(--second-color);
}
.footer{
    text-align: center;
}
.footer a{
    text-align: center;
    text-decoration: none;
    color:var(--white-color);    
}
.footer hr{
    width: 95%;
}
.red-border {
    border: 2px solid red; /* Crveni okvir */
}
@media (max-width: 768px) {
    .topnav {
        padding: 5px;
        display: flex; 
        flex-direction: column; 
    }
    .active {
        margin-right: auto;
        margin-left: auto; 
    }
    .active-title {
        clear: both;
        padding-top: 15px;
        padding-bottom: 15px; 
    }
    .column {
        width: 100%;
        float: none; 
        margin-right: 0; 
    }
    .thumbnail {
        width: 100%; 
        height: auto; 
    }    
    .card {
        padding: 10px; 
    }
}





